/*--------------------------
# General
----------------------------*/
:root {
    --orange-1: #FF9E03;
    --orange-2: #FFAA0B;
    --orange-3: #FFB713;
    --orange-4: #FFC31B;
    --orange-5: #FFD023;
    --orange-6: #FFDC2B;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

time,
.date {
    font-style: italic;
    font-size: smaller;
}

.btn-blog {
    background-color: var(--orange-1);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    color: white;
}

.btn-blog:hover {
    background-color: white;
    color: var(--orange-1);
    border-color: var(--orange-1);
}

.btn-blog-circle {
    background-color: var(--orange-1);
    border-radius: 50%;
    padding: 0.75rem 1rem;
    color: white;
}

.btn-blog-circle:hover,
.btn-blog-circle:active {
    background-color: white;
    color: var(--orange-1);
}

.text-blog {
    color: var(--orange-2);
}

/*--------------------------
# HEADER
----------------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--orange-3);
    padding: 2rem;
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

header h1 {
    font-family: 'Lobster';
}

header i {
    font-size: 2rem;
}

header .draft {
    padding: 0.5rem 1.5rem;
}

header .plus {
    padding: 0.5rem 1.7rem;
}

/*--------------------------
# MAIN
----------------------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    margin-top: 10rem;
    padding: 3rem 0rem;

    background: url("../img/background_main.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
}

article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;

    background-color: white;
    font-size: 1.4rem;
    opacity: 0.9;
    padding: 1rem;

    -webkit-box-shadow: 0px 0px 10px 5px var(--orange-4);
    -moz-box-shadow: 0px 0px 10px 5px var(--orange-4);
    box-shadow: 0px 0px 10px 5px var(--orange-4);
}

article h2 a,
.blog_title {
    color: var(--orange-1);
    text-decoration: none;
    font-family: 'Lobster';
}

article h2 {
    color: var(--orange-1);
    font-family: 'Lobster';
}

.div_post_form,
.div_comment_form {
    background-color: white;
    opacity: 0.8;
    padding: 2rem 0;
}

.div_post_form h2,
.div_comment_form h2 {
    color: var(--orange-1);
    font-family: 'Lobster';
}

.div_comment_form p.span {
    font-weight: bold;
}

.div_comment_form span {
    color: var(--orange-1);
    font-size: 1.4rem;
}

.div_comment_form button {
    font-size: 1.2rem;
    font-weight: bold;
}

form p {
    display: flex;
    align-items: center;
    gap: 1rem;
}

a.big,
span.big {
    padding: 0.3rem 0.7rem;
    font-size: 1.6rem;
}

span.inactive {
    cursor: not-allowed;
}

span.inactive > span {
    background-color: transparent;
    border-color: var(--orange-2);
    color: var(--orange-2);
    pointer-events: none;
}

.comment {
    width: 50%;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.comment .date {
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

.comment p {
    margin-bottom: 0;
}

/*--------------------------
# FOOTER
----------------------------*/

footer {
    background-color: var(--orange-3);
    padding: 3rem 2rem;
    color: white;
}

footer span {
    font-style: italic;
    font-size: 1.4rem;
}
