<footer class="d-flex flex-wrap justify-content-between align-items-center border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span>© 2023 dcarolinahdev</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex gap-2">
      <li><a class="btn btn-blog-circle" href="#"><i class="bi bi-twitter"></i></a></li>
      <li><a class="btn btn-blog-circle" href="#"><i class="bi bi-instagram"></i></a></li>
      <li><a class="btn btn-blog-circle" href="#"><i class="bi bi-facebook"></i></a></li>
    </ul>
</footer>
