/*--------------------------
# General
----------------------------*/
:root {
    --orange-1: #FF9E03;
    --orange-2: #FFAA0B;
    --orange-3: #FFB713;
    --orange-4: #FFC31B;
    --orange-5: #FFD023;
    --orange-6: #FFDC2B;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

time {
    font-style: italic;
    font-size: smaller;
}

.btn-blog {
    background-color: var(--orange-1);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    color: white;
}

/*--------------------------
# HEADER
----------------------------*/

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--orange-3);
    padding: 3rem 2rem;
    color: white;
}

header h1 {
    font-family: 'Lobster';
}

header a {
    background-color: var(--orange-1);
    border-radius: 50%;
    padding: 1rem;
    color: white;
}

header a:hover {
    background-color: white;
    color: var(--orange-1);
}

/*--------------------------
# MAIN
----------------------------*/

main {
    padding: 1.5rem 2rem;
}

article {
    padding: 1rem;

    -webkit-box-shadow: 0px 0px 10px 5px var(--orange-4);
    -moz-box-shadow: 0px 0px 10px 5px var(--orange-4);
    box-shadow: 0px 0px 10px 5px var(--orange-4);
}

article h2 a,
.blog_title {
    color: var(--orange-1);
    text-decoration: none;
    font-family: 'Lobster';
}

.div_post_form h2 {
    color: var(--orange-1);
    font-family: 'Lobster';
}

form p {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/*--------------------------
# FOOTER
----------------------------*/

footer {
    background-color: var(--orange-3);
    padding: 3rem 2rem;
    color: white;
}

footer span {
    font-style: italic;
}

footer .nav a {
    background-color: var(--orange-1);
    border-radius: 50%;
    padding: 1rem;
    color: white;
}

footer .nav a:hover {
    background-color: white;
    color: var(--orange-1);
}
